@charset 'utf-8';
html, body{
	margin: 0;
	height: 100%;
	background: url(../img/fondo.png);
}
.wrapper {
	width: 1000px;
	height: 100%;
	margin: 0 auto 0 auto;
}
/* HEADER*/
.contactoInfo, .rifEmpresa{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}
.contactoInfo p, .rifEmpresa p{
	display: inline-block;
	background: white;
	background: rgba(231, 231, 231, 0.5);
	border-radius: 5px;
	padding: 5px;
}
.rifEmpresa{
	text-align: right;
}
.logoEmpresa{
	position: relative;
}
.logoEmpresa a{
	position: absolute;
	left: 38%;
	top: -80px;
	z-index: 10;
}
.logoMenu{
	width: 250px;
}
.barraNavegacion{
	position: relative;
	background: url(../img/menufondo.png) no-repeat center;
	display: block;
	margin-top: 58px;
	text-align: center;
	z-index: 5;
}
.barraNavegacion ul{
	list-style: none;
	padding-left: 0;
}
.barraNavegacion ul li{
	display: inline-block;
}
.barraNavegacion a{
	display: inline-block;
	margin: 30px 37px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
}
.barraNavegacion a:hover{
	text-shadow: 0 0 2px #FFF;
}
.about{
	margin-right: 220px;
}
.barraNavegacion:before{
	content: "";
	position: absolute;
	top: 4px;
	left: 106ex;
	display: block;
	width: 31px;
	height: 75px;
	background: url(../img/ladoder.png) no-repeat;
}
.barraNavegacion:after{
	content: "";
	position: absolute;
	top: 5px;
	left: 13px;
	display: block;
	width: 30px;
	height: 75px;
	background: url(../img/ladoizq.png) no-repeat;	
}
/* FOOTER */
.puasMarron{
	background: url(../img/cachito2.png) repeat-x;
	height: 11px;
}
footer{
	background: #4B2B09;
	color: white;
}
footer > .wrapper > .listaPrincipalFooter{
	padding: 30px 0 0 0;
	margin: 0;
}
footer > .wrapper > .listaPrincipalFooter > li{
	display: inline-block;
	vertical-align: top;
	width: 24%;
}
.logoFooter{
	width: 150px;
}
.sublistaMenu{
	margin: 0;
	padding: 0;
}
.sublistaMenu ul{
	margin: 0;
	padding-left: 20px; 
}
.sublistaMenu > li{
	margin-bottom: 5px;
	margin-top: 5px;
}
.menu1 a, .menu2 a{
	text-decoration: none;
	font-size: 1.2em;
	color: white;
	text-shadow: 1px 1px 1px #000;
}
.menu1 a:hover, .menu2 a:hover{
	text-shadow: 0px 0px 15px #FFF;
}
footer > .wrapper > .listaPrincipalFooter li .sublistaMenu li{
	display: block;
}
.logo img{
	display: block;
	margin: 0 auto;
}
.horario{
	padding: 0 15px;
	text-align: center;
	font-size: 1.2em;
}
.horario p{
	margin: 0;
	font-size: 16px;
}
.telefonos{
	font-size: 16px;
}
.copyRight{
	text-align: center;
	margin: 30px 0 0 0;
	padding-top: 5px;
	border-top: 1px solid #FFF;
}
.copyRight > a > img{
	width: 60px;
	vertical-align: middle;
}
/* END FOOTER */
/**/
/* Configuración back to top button */

.back-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 1;
}

.back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: black;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover {
	color: #000;
}

	/* arrow icon (span tag) */
.back-top span {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto 7px auto;
	font-size: 0;
	background: rgb(75, 75, 75) url(../img/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover span {
	background-color: #777;
}
@media screen and (max-width: 1000px){
	.wrapper{
		width: 100%;
	}
	.logoEmpresa a {
		position: static;
		z-index: 10;
	}
	.logoMenu{
		display: block;
		margin: 0 auto;
	}
	.about {
		margin-right: 0;
	}
	.barraNavegacion{
		background: url(../img/menufondo.png) repeat-x center;
		margin-top: 0;
	}
	.barraNavegacion a{
		margin: 30px 8px;
	}
	.barraNavegacion:before{
		content: "";
		position: absolute;
		top: 4px;
		left: 106ex;
		display: block;
		width: 31px;
		height: 75px;
		background: none;
	}
	.barraNavegacion:after{
		content: "";
		position: absolute;
		top: 5px;
		left: 13px;
		display: block;
		width: 30px;
		height: 75px;
		background: none;	
	}
	.barraNavegacion ul{
		margin: 0;
	}
	/* configuración back-to-top responsive */
	.back-top a{
		width: 60px;
	}
	.back-top span {
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size: 4em;
		line-height: 30px;
		background: none;
		margin: 0 auto 0 auto;
	}
	.back-top a:hover span {
		background:none;
	}
	/* END CONFIG back-to-top */

}
@media screen and (max-width: 500px) {
	.barraNavegacion{
		background: #008000;
	}
	.barraNavegacion ul{
		width: 100%;
		display: block;
		height: auto;
	}
	.barraNavegacion li {
		width: 50%;
		float: left;
		position: relative;
		background: green;
	}
	.clear{
		clear: both;
	}
	footer > .wrapper > .listaPrincipalFooter > li {
		display: block;
		width: auto;
	}
	.sublistaMenu > li {
		padding-bottom: 10px;
		padding-top: 10px;
	}
}