@charset 'utf-8';
h2{
	margin: 0;
}
h3{
	color: #4B2B09;
	text-align: center;
	font-style: italic;
}
.tituloStyle{
	background: url(../../img/fondotitulo.png) no-repeat;
	width: 334px;
	height: 84px;
	text-align: center;
	line-height: 84px;
	margin: 0 auto;
	position: relative;
	bottom: -40px;
	font-style: italic;
	color: #4B2B09;
}
.textAbout{
	background: url(../../img/bedge_grunge_@2X.png);
	border-radius: 5px;
	padding: 15px;
	padding-top: 50px;
	margin-bottom: 50px;
	font-size: 1.1em;
	color: #4B2B09;
	line-height: 2em;
	border: 1px solid #A3A3A3;
}
.verProductoBoton{
	height: 53px;
}
.lineaProducto{
	display: inline-block;
	vertical-align: top;
	width: 33%;
	text-align: center;
}
.lineaProducto a{
	text-decoration: none;
}
.lineaProducto a > img{
	width: 290px;
	height: 290px;
	max-width: 100%;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	border: 15px solid #FFF;
}
.lineaProducto .verProductoBoton span{
	background: url(../../img/verde.png);
	color: #FFF;
	padding: 9px 18px;
}
.listaProductos{
	margin-bottom: 30px;
}

@media screen and (max-width: 1000px){
	.listaProductos {
		text-align: center;
	}
	.lineaProducto{
		width: auto;
		margin-bottom: 15px;
	}
}