@charset 'utf-8';
.tituloStyle{
	background: url(../../img/fondotitulo.png) no-repeat;
	width: 334px;
	height: 84px;
	text-align: center;
	line-height: 84px;
	margin: 0 auto;
	position: relative;
	bottom: -40px;
	font-style: italic;
	color: #4B2B09;
	z-index: 2;
}
.tituloimg {
	position: absolute;
	top: 81%;
	width: 590px;
	padding-right: 10px;
	line-height: 50px;
	text-align: right;
	background-color: #FFF;
	height: 50px;
	opacity: 0.6;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	color: #4B2B09;
}
.flexslider{
	float: left !important;
	margin: 0 0 13px !important;
	width: 100% !important;
}

.sliderimagenes{
	float: left;
	width: 100%;
}
.derecha, .izquierda {
	display: inline-block;
	vertical-align: text-top;
}
.izquierda{
	width: 60%;
}
.derecha{
	width: 32%;
	padding: 23px;
	height: 450px;
	margin-left: 27px;
	border-radius: 12px;
	background: url(../../img/bedge_grunge_@2X.png);
	border: 1px solid #A3A3A3;
}
.maintext{
	padding: 16px;
	line-height: 30px;
	text-align: justify;
	height: 280px;
	font-size: 1.1em;
	color: #4B2B09;
}
.relleno{
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	color: #4B2B09;
}
.likclientes{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #1D6334;
	font-weight: bold;
}

.abajoimg{
	position: relative;
	margin-bottom: -15px;
	z-index: -1;
}
@media screen and (max-width: 1000px){
	.izquierda {
		width: 85%;
		margin-left: 6%;
	}
	.maintext {
		height: auto;
		padding: 10%;
	}
	.derecha {
		width: 83%;
		height: auto;
		margin-bottom: 15px;
		padding: 4%;
		margin-left: 2%;
	}
	.abajoimg{
		display: none;
	}
	.tituloimg {
		display: none;
	}
}