{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<!--[if lt IE 8]><script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/ie6-not-supported.js" ></script><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="keywords" content="Comida, Carnes, Maduradas, Jamón, Maracaibo, Salsa BBQ, Medallones de pollo, Lomo de aguja, Costillas">
<meta name="author" content="Duranjo Web C.A.">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
{% block head %} {% endblock%}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
<title>{% block title %} {% endblock%}</title>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
	<!-- Analytics SCRIPT GOOGLE! -->
	<!--<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  //Se debe cambiar esto cuando se haga X página.
	  ga('create', 'UA-*********-1', '*******.com');
	  ga('send', 'pageview');
	</script> -->
	<header id="home" class="cabecera">
		<div class="wrapper">	
			<div class="contactoInfo">
				<p>Teléfono: (0261) 7543220 - 7781171 <img src="{{ STATIC_URL }}img/banderita.png" alt="bandera de Venezuela"></p>
									
			</div>			
			<div class="rifEmpresa">
				<div class="rif"><p>RIF: J-30394814-6</p></div>
				<div class="redes">
					<div class="facebook"></div>
					<div class="twitter"></div>
				</div>
			</div>			
			<div class="logoEmpresa">
				<a href="{% url 'homepageindex' %}" title="Foodtech de Venezuela"><img class="logoMenu" src="{% static 'img/logo.png' %}" alt="logo foodtech"></a>
				<!-- colocar después en css con el tamaño -->
			</div>			
			<nav class="barraNavegacion">
				<ul>
					<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a></li>
					<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a></li>
					<li class="products"><a href="{% url 'productocategoria' %}">Productos</a></li>
					<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="contenido">
		{% block contenido %} {% endblock%}
	</section>
	{% block clear %} {% endblock %}
	<div class="puasMarron"></div>
	<footer>
		{% block footer %}{% endblock%}
		<div class="wrapper">
			<ul class="listaPrincipalFooter">
				<li class="atencionFooter">
					<div class="horario">
						Horario de atención: <p>Lunes a Viernes</p><p>7:00 AM a 12:00 PM </p><p>2:00 PM a 5:00 PM.</p>
						<div class="telefonos"><span class="flagVe"></span>(0261) 7543220 - 7781171</div>
						<div class="redeSociales">
							<a href="https://twitter.com/"><div class="twitterlogo"></div></a>
							<a href="https://facebook.com/"><div class="facebook"></div></a>
							<a href="https://plus.google.com/"><div class="googleplus"></div></a>
						</div>
					</div>
				</li>
				<li class="menu1">
					<ul class="sublistaMenu">
						<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a></li>
						<li class="aboutFooter"><a href="{% url 'homepageabout' %}">Sobre nosotros</a></li>
						<ul><li><a href="{% url 'homepageabout' %}#clientes">Nuestros clientes</a></li></ul>
						<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a></li>
					</ul>
				</li>
				<li class="menu2">
					<ul class="sublistaMenu">
						<li class="orlando"><a href="{% url 'productocategoria' %}">Productos</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</li>
				<li class="logo">
					<img class="logoFooter" src="{% static 'img/logo.png' %}" alt="Logo foodtech">
				</li>
			</ul>
			<div class="copyRight">Foodtech® Copyright ©. Todos los derechos reservados. 
				Diseño y Desarrollo: <a href="http://duranjo.com/"><img src="http://duranjo.com/static/img/duranjowhite.png" alt="logo empresa duranjo"></a>
			</div>
		</div>
	</footer>
	{% block jsinit %}
	{% endblock %}
</body>
</html>