{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="">
{% endblock%}
{% block title %}
FoodTech Inicio
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.simplyscroll.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/adquiridos/jquery.imageScroller.js' %}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/back-top.js"></script>
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
	<section class="bannerPrincipal">
		<div class="wrapper">
			<div class="sliderPosition">
				<div class="flexslider">
					<ul class="slides">
						<li><img src="{% static 'img/img1.jpg' %}" alt="blablar"></li>
						<li><img src="{% static 'img/img2.jpg' %}" alt="edificios"></li>
				 	</ul>
				</div>		
			</div>
			<h1>Líder en Carnes Maduradas</h1>
		</div>
	</section>
	<div class="puasVerde"></div>
	<section class="ofrecemos">
		<div class="wrapper">
			<div class="textoProductos">Con calidad FoodTech</div>
			<ul class="productos">
				<li><img src="{% static 'img/cir1.png' %}" alt="Carne de res"><span>il lorem ipsum.</span></li>
				<li><img src="{% static 'img/cir2.png' %}" alt="Jamón"><span>il lorem ipsum.</span></li>
				<li><img src="{% static 'img/cir3.png' %}" alt="Pollo"><span>il lorem ipsum.</span></li>
				<li><img src="{% static 'img/cir4.png' %}" alt="Pastrini"><span>il lorem ipsum.</span></li>
				<li><img src="{% static 'img/cir5.png' %}" alt="Salsa"><span>il lorem ipsum.</span></li>
				<li><img src="{% static 'img/cir6.png' %}" alt="Delicateses"><span>il lorem ipsum.</span></li>
			</ul>
		</div>
	</section>
	<section class="aboutus">
		<div class="wrapper">
			<div class="introEmpresa">
				<h2><span>FoodTech</span></h2>
				<p>FOODTECH C.A.™ es una empresa de Innovación y Desarrollo de Nuevos Productos, basados en procesos biotecnológicos. Ciencia y Tecnología al servicio de la comunidad.</p>
				<img src="{% static 'img/logo.png' %}" alt="logo de la empresa foodtech" class="logo">
			</div>
			<div class="ultimasNoticias">
				<h2><span>Últimas noticias</span></h2>
				{% for noticia in entradas %}
				<article class="noticia">
					<a href="{{ noticia.get_absolute_url }}" class="linknoticia">
					<img src="{% static 'img/img1.jpg' %}" alt="foto noticia foodtech">
					<h3>{{ noticia.title }}</h3>
					<p>{{ noticia.summary }}</p>
				</a>
				</article>
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="infoCliente">
		<div class="wrapper">
			<h2><span>Nuestros clientes</span></h2>
			<!-- <div class="sliderLogos">
				<ul class="slides">
					<li><img src="{% static 'img/icnonos.png' %}" alt="clientes de foodtech">
					<li><img src="{% static 'img/icnonos.png' %}" alt="clientes de foodtech">
				</ul>
			</div> -->
			<div id="imageLogos" class="imagesLogos">
				<img src="{% static 'img/icnonos.png' %}" alt="clientes de foodtech">
				<img src="{% static 'img/icnonos.png' %}" alt="clientes de foodtech">
			</div>
			<a href="{% url 'homepageabout' %}#clientes" class="verTodosClientes">Ver todos nuestros clientes</a>
		</div>
	</section>
{% endblock%}
{% block jsinit %}
<!-- SLIDER INITS -->
	<script>
			$(document).ready(function() {
			  $('.flexslider').flexslider({
			  	//animation: "slide" si las imagenes son diferente tamaño poner sin slide
			  });
			  $( "#imageLogos" ).imageScroller({
					speed:'9000',
					loading:'Wait please...'
				});
			});
	</script>
	<!-- Google+ SCRIPT --> 
		<!-- Place this tag after the last badge tag. -->
		<script  async type="text/javascript">
		 window.___gcfg = {lang: 'es-419'};
		 (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		   po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	<!-- FACEBOOK SCRIPT -->
			<div id="fb-root"></div>
		<script async>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<!-- TWITTER SCRIPT -->
	<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
{% endblock jsinit %}