@charset 'utf-8';
/* SLIDER BANNER INICIO */
h1{
	margin: 0;
	padding: 18px;
	text-align: center;
	background: white;
	font-size: 2em;
}
h2{
	text-align: center;
}
.flexslider{
	border: 22px solid #FFF;
}

/* PRODUCTOS OFRECIDOS LINEA VERDE*/
.puasVerde{
	background: url(../../img/cachito1.png) repeat-x;
	height: 13px;
}
.ofrecemos{
	background: url(../../img/texturaverde.png);
}
.textoProductos{
	font-size: 2.5em;
	color: #FFF;
	text-align: center;
	padding-top: 20px;
}
.productos{
	margin: 31px 0 31px 0;
	padding: 0 0 10px 0;
}
.productos li{
	display: inline-block;
	width: 16%;
}
.productos li > img{
	max-width: 90%;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	border: 6px solid #A39421;
}
.productos span{
	display: block;
	text-align: center;
	color: wheat;
}
/* About US noticias y intro*/
.aboutus{
	padding: 50px 0; 
}
.introEmpresa, .ultimasNoticias{
	background: url(../../img/bedge_grunge_@2X.png);
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.introEmpresa  span, .ultimasNoticias  span{
	text-align: center;
	border-top: 3px double #4B2B09;
	border-bottom: 3px double #4B2B09;
	font-style: italic;
	color: #4B2B09;
}
.introEmpresa{
	width: 29%;
	margin-right: 2%;
}
.introEmpresa p{
	text-align: justify;
}
.introEmpresa > img{
	width: 150px;
}
.ultimasNoticias{
	width: 65%;
}
.ultimasNoticias .noticia{
	width: 45%;
	display: inline-block;	
	vertical-align: top;
}
.noticia img{
	width: 95%;
	border: 5px solid gold;
}
.linknoticia{
	text-decoration: none;
	color: #000;
}
.noticia p{
	text-align: justify;
}

/* Clientes lista*/
.infoCliente{
	margin-bottom: 45px;
}
.infoCliente h2 span{
	text-align: center;
	border-top: 3px double #4B2B09;
	border-bottom: 3px double #4B2B09;
	color: #4B2B09;
	font-style: italic;
}
.imagesLogos{
	overflow: hidden;
}
.infoCliente .wrapper{
	text-align: right;
}
.verTodosClientes{
	background: #008000;
	padding: 5px 10px;
	text-decoration: none;
	color: #FFF;
	box-shadow: 0 0 3px #000;
	text-shadow: 1px 1px 1px #000;
	display: inline-block;
}