{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}
Categorias de productos - Foodtech
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/productos/categoria.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
{% endblock %}
{% block contenido %}
<section class="categorias">
	<div class="wrapper">
		<div class="tituloStyle"><h2>libre</h2></div>
	</div>
</section>
{% endblock%}