{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}
Categorias de productos - Foodtech
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/productos/producto.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
{% endblock %}
{% block contenido %}
<section class="producto">
	<div class="wrapper">
		<a class="back-link" href="{% url 'productocategoria' %}">«Volver</a>	
		{% for item in producto %}
		<div class="tituloStyle"><h2>{{ item.titulo }}</h2></div>
		<div class="izquierda">
			<div class="sliderimagenes">
				<div class="flexslider">
		  			<ul class="slides">
		  				{% if imagenes %}
		  				{% for img in imagenes %}
		  					<li  data-thumb="{{ MEDIA_URL }}/{{img.imagen}}"><img src="{{ MEDIA_URL }}/{{img.imagen}}" alt="{{img.titulo}}">
		  					<div class="tituloimg">{{ img.titulo }}</div>
		  					</li>
		  				{% endfor %}
		  				{% endif %}
		  			</ul>
				</div>		
			</div>
		</div>
		<div class="derecha">
			<div class="caja">
				<p class="maintext">{{ item.descripcion }}</p>
				<p class="relleno">¿Deseas conocer dónde adquirir nuestros productos?</p>
				<a href="{% url 'homepageabout' %}#clientes" class="likclientes"> Visita nuestra lista de Clientes</a> 
			</div>
		</div>	
		<img class="abajoimg"src="{{ MEDIA_URL }}/{{item.imagen_abajo}}" alt="{{item.titulo}}">	
		{% endfor %}
	</div>
</section>

	<script>
		$(window).load(function() {
  			$('.flexslider').flexslider({
    			animation: "slide",
    			controlNav: "thumbnails"
  			});
		});
	</script>
{% endblock%}